.feedback-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

mat-card {
  width: 500px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.thank-you {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
